.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #f2f8f8;
  height: 70px;
  z-index: 800;
}
.navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.page-name {
  margin-left: 1rem;
}

.spacer {
  flex: 1;
}
