.navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  background: #f2f8f8;
  height: 70px;
  z-index: 800;
}
.navbar-navigation {
  display: flex;
  height: 100%;
  align-items: center;
}

.page-name {
  margin-left: 1rem;
}

.spacer {
  flex: 1;
}
.enableEthereumButton {
  background: #586c96;
  border-radius: 40px;
  display: inline-block;
  text-align: center;
  /* padding: 10px 20px; */
  font-size: 1.6rem;
  margin-bottom: 2.2rem;
  min-width: 200px;
  font-weight: 300;
}